@import url("https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background: #f6eee9;
}

b,
i {
  color: #7d624f;
  text-shadow: 1px 1px 0px #f4b5b5;
  transition: 1s;
}
b:hover,
i:hover {
  color: #f4b5b5;
  text-shadow: 1px 1px 0px #fff;
}

::selection {
  color: #fff;
  background: rgba(125, 98, 79, 0.6352941176);
  text-shadow: 1px 1px 0px #7d624f;
}

/* nav */
header {
  background: #ffe5ec;
  text-align: center;
}

nav {
  font-family: "Inter";
  text-transform: uppercase;
  font-weight: 500;
  background: #886753;
  height: 60px;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 41;
}
nav .nav-social-media {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav .nav-social-media a img {
  width: 30px;
  height: 100%;
}
nav img {
  width: 30px;
  height: 30px;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  transition: 0.5s;
}
nav ul li a:hover {
  text-decoration: none;
  color: #F8B6BE;
  padding: 10px;
}

.social {
  width: 40px;
  height: 40px;
  text-decoration: none;
}

/* fin nav */
/* hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  min-height: 70vh;
  max-height: 100%;
}
.hero img {
  width: 300px;
  margin-bottom: -20px;
  transition: 1.5s;
}
.hero img:hover {
  transform: rotateY(360deg);
}
.hero .encabezado {
  font-family: "Parisienne", cursive;
  color: #7d624f;
  text-shadow: 1px 1px 0px #F8B6BE;
  font-size: 50px;
  text-align: center;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: linear;
}
.hero .subencabezado {
  font-family: Source Serif 4;
  color: #7d624f;
  font-size: 20px;
  text-align: center;
  font-style: italic;
}

/* fin hero */
.cortinaborder {
  background-image: url("../images/cortinita.png");
  width: 100%;
  height: 40px;
}

.fofo {
  animation: fadeIn 3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pseudo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  gap: 20px;
}
.pseudo-container .pseudo-box {
  flex-grow: 1;
  flex-basis: 100px;
  flex-wrap: wrap;
  height: 250px;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
.pseudo-container .pseudo-box:hover {
  flex-grow: 3;
}
.pseudo-container .pseudo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  background: #F4B5B5;
  text-align: center;
  padding: 30px;
}
footer p {
  align-items: center;
  text-align: center;
  font-family: "Inter";
  color: #fff;
  text-shadow: 1px 1px 0px #C89494;
  font-size: 20px;
}

.final {
  font-family: "Source Serif 4", serif;
  color: #C89494;
  font-style: italic;
  font-size: 22px;
  text-align: center;
  padding: 20px 0;
}

/* MENU HAMBURGUESA */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.nav-link {
  color: #fff;
  font-size: 1rem;
  font-family: "Inter";
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}

.menu-hamburguesa {
  display: none;
}
.menu-hamburguesa img {
  width: 30px;
  height: 30px;
}

.drawer {
  position: fixed;
  top: 0;
  right: -650px;
  width: 250px;
  height: 100%;
  background-color: #886753;
  color: #886753;
  overflow-y: auto;
  transition: 0.5s ease all;
  z-index: 1000;
}
.drawer .drawer-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.drawer .drawer-header button {
  background: none;
  border: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
.drawer ul {
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 900;
}

.drawer-open {
  right: 0;
}

.overlay-active {
  opacity: 1;
  visibility: visible;
  display: block;
}

@media (max-width: 767px) {
  .navbar {
    display: none;
  }
  .menu-hamburguesa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 14px;
    background-color: #886753;
  }
  .menu-hamburguesa .menu-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: 0.5s;
  }
  .menu-hamburguesa .menu-icon span {
    display: block;
    height: 3px;
    width: 35px;
    background-color: #FFF;
    transition: 0.5s;
  }
  .drawer {
    display: block;
  }
  .overlay {
    display: block;
  }
}
/* FIN MENU HAMBURGUESA */
.contacto-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 20px;
}
.contacto-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacto-container img {
  height: 400px;
  outline-offset: -4px;
  outline: 1px solid #fff;
}
.contacto-container .contacto-titulo {
  font-family: Thasadith;
  letter-spacing: 1px;
  color: #696969;
  font-style: italic;
  font-size: 40px;
  margin-bottom: 20px;
}
.contacto-container .contacto-parrafo {
  font-family: "Source Serif 4";
  color: #696969;
  font-size: 20px;
  margin-bottom: 10px;
}

.container2 {
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60%;
}
.container2 .contacto-redes {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
  margin-top: 15px;
}

.formulario {
  grid-area: form;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1rem;
  gap: 1rem;
  margin-top: 10px;
}

.formulario__input {
  font-family: "Inter";
  width: 120%;
  padding: 0.625rem;
  border: none;
  border: double 2px #f4b5b5;
  outline: none;
  transition: 0.5s;
}

.boton {
  width: 6rem;
  height: 2rem;
  border-radius: 10px;
  padding: 3px;
  align-self: center;
  margin-top: 0.5rem;
  background-color: #886753;
  color: #fff;
  border: none;
  transition: 0.5s;
  cursor: pointer;
  outline-offset: -3px;
  outline: 1px dashed #fff;
}
.boton:hover {
  background-color: #F4B5B5;
}

/* tarjeta container */
.tarjeta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
  padding: 20px;
}
.tarjeta-container:nth-child(odd) .tarjeta-img {
  transform: scaleX(1);
}
.tarjeta-container .tarjeta-img {
  width: 60%;
  height: 100%;
  overflow: hidden;
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  transform: scaleX(-1);
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 70%;
  animation-fill-mode: both;
}
.tarjeta-container .tarjeta-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tarjeta-container .titulo-principal {
  font-family: "Thasadith";
  color: #696969;
  font-style: italic;
  text-shadow: 1px 1px 0px #fff;
  font-size: 50px;
  text-align: center;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: linear;
}
.tarjeta-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tarjeta-container div p {
  font-family: "Source Serif 4";
  color: #696969;
  font-size: 20px;
  text-align: center;
}

/* fin tarjetitas */
.vendidos {
  font-family: "Thasadith";
  font-style: italic;
  font-weight: bold;
  color: #7d624f;
  text-shadow: 1px 1px 1px #C89494;
  font-size: 30px;
  text-align: center;
  background: linear-gradient(45deg, #F4B5B5, #F4B5B5);
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 0 50%;
  transition: 0.5s;
}
.vendidos:hover {
  background-size: 100% 100%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
.inspo-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.inspo-container .inspo-titulo {
  font-family: Thasadith;
  letter-spacing: 1px;
  color: #696969;
  font-style: italic;
  font-size: 40px;
  margin-bottom: 20px;
}
.inspo-container .inspo-parrafo {
  font-family: "Source Serif 4";
  color: #696969;
  font-size: 20px;
  margin-bottom: 10px;
  max-width: 800px;
}

/* cajitas productos */
.padre-caja {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  place-content: center;
  place-items: center;
}
.padre-caja .caja {
  width: 250px;
  height: 300px;
  background: #f6eee9;
  border: solid 1px #e6e6e6;
  border-radius: 9px;
  box-shadow: inset 0 0 30px #dcc8bc, 0 0 2px #dcc8bc;
  justify-content: center;
  text-align: center;
  transition: 0.3s;
}
.padre-caja .caja:hover {
  transform: scale(1.05);
}
.padre-caja .title-caja {
  display: flex;
  font-family: Source Serif 4;
  color: #696969;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.padre-caja .producto-img {
  width: 207px;
  height: 205px;
  border-radius: 100%;
  box-shadow: 4px 4px 5px 0px rgba(32, 32, 32, 0.3960784314);
}
.padre-caja .precio {
  display: flex;
  font-family: "Source Serif 4";
  color: #696969;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.padre-caja a.button {
  background: #F4B5B5;
  color: #ffffff;
  text-shadow: 1px 1px 1px #FDA9D0;
  box-shadow: inset 0 0 16px #FDA9B8, 0 0 0px #FDA9B8;
  transition: 0.5s;
  text-decoration: none;
  font-family: calibri;
  font-size: 14px;
  padding: 5px;
  border-radius: 9px;
  width: 100px;
  text-align: center;
  justify-content: center;
  display: inline-flex;
  margin-top: 5px;
}
.padre-caja a.button:hover {
  background: #FFE2F0;
  color: #FDA9B8;
  text-shadow: 1px 1px 1px #FFF;
  text-decoration: none;
  font-family: calibri;
  font-size: 14px;
  padding: 5px;
  border-radius: 9px;
  width: 100px;
  text-align: center;
  justify-content: center;
  display: inline-flex;
  margin-top: 5px;
}

/* fin cajitas productos */
/* buscador */
#buscador {
  background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
  background-size: 24px;
  width: 300px;
  border: transparent;
  border: solid 1px #ccc;
  border-radius: 6px;
  padding: 10px 10px 10px 30px;
  outline: none;
  position: relative;
  margin-bottom: 25px;
  margin-top: 40px;
}

.centrar-buscador {
  text-align: center;
}

/* fin buscador */
.somos-container {
  align-items: center;
  justify-content: center;
  text-align: left;
  display: flex;
  flex-direction: row;
  padding: 30px;
  gap: 2rem;
}
.somos-container div {
  display: flex;
  flex-direction: column;
}
.somos-container .somos-titulo {
  font-family: Thasadith;
  letter-spacing: 1px;
  color: #696969;
  font-style: italic;
  font-size: 40px;
  margin-bottom: 10px;
}
.somos-container .somos-parrafo {
  font-family: "Source Serif 4";
  color: #696969;
  font-size: 20px;
  margin-bottom: 10px;
  max-width: 800px;
}

.somos-container2 {
  align-items: center;
  justify-content: center;
  text-align: right;
  display: flex;
  flex-direction: row;
  padding: 30px;
  gap: 2rem;
}
.somos-container2 div {
  display: flex;
  flex-direction: column;
}
.somos-container2 .somos-titulo {
  font-family: Thasadith;
  letter-spacing: 1px;
  color: #696969;
  font-style: italic;
  font-size: 40px;
  margin-bottom: 10px;
}
.somos-container2 .somos-parrafo {
  font-family: "Source Serif 4";
  color: #696969;
  font-size: 20px;
  max-width: 800px;
}
.somos-container2 .ari {
  margin-top: 25px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.redes {
  width: 70px;
  height: 70px;
  margin-bottom: 40px;
}

.centrado {
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .tarjeta-container {
    flex-wrap: wrap;
  }
  .tarjeta-container:nth-child(odd) {
    flex-wrap: wrap-reverse;
  }
  .tarjeta-container .titulo-principal {
    font-size: 2rem;
  }
  .tarjeta-container div p {
    font-size: 17px;
  }
  .tarjeta-container .tarjeta-img {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .hero {
    min-height: 350px;
    max-height: 100%;
    margin-top: -40px;
  }
  .hero img {
    width: 200px;
    margin-bottom: -17px;
  }
  .hero .encabezado {
    font-size: 40px;
  }
  .hero .subencabezado {
    font-size: 18px;
    margin-bottom: -17px;
  }
  .nav {
    height: 40px;
    padding: 20px;
    width: 100%;
  }
  .nav img {
    width: 25px;
    height: 25px;
  }
  .nav .nav-social-media a img {
    width: 25px;
    height: 100%;
  }
  .somos-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .somos-container .somos-titulo {
    font-size: 2rem;
  }
  .somos-container .somos-parrafo {
    font-size: 17px;
  }
  .somos-container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .somos-container2 .somos-titulo {
    font-size: 2rem;
  }
  .somos-container2 .somos-parrafo {
    font-size: 17px;
  }
  .inspo-container .inspo-titulo {
    font-size: 2rem;
  }
  .inspo-container .inspo-parrafo {
    font-size: 17px;
  }
  .contacto-container {
    display: flex;
    flex-direction: column;
  }
  .contacto-container .contacto-titulo {
    font-size: 2rem;
  }
  .contacto-container .contacto-parrafo {
    font-size: 17px;
  }
  .contacto-container .contacto-redes {
    width: 80px;
    height: 80px;
  }
  .contacto-container img {
    height: 230px;
  }
  .container2 .contacto-redes {
    width: 80px;
    height: 80px;
  }
  .formulario__input {
    width: 100%;
  }
  .final {
    font-size: 17px;
  }
  footer p {
    font-size: 16px;
  }
  .vendidos {
    font-size: 17px;
    background-color: #F4B5B5;
    background-size: 50% 0;
  }
  .vendidos:hover {
    font-size: 17px;
  }
  .pseudo-container {
    padding: 10px;
    flex-wrap: wrap;
    gap: 5px;
  }
  .pseudo-container .pseudo-box {
    height: 150px;
  }
  .formulario__input {
    width: 80%;
  }
}

/*# sourceMappingURL=styles.css.map */
