footer {
    background: #F4B5B5;
    text-align: center;
    padding: 30px;

    p {
        align-items: center;
        text-align: center;
        font-family: "Inter";
        color: #fff;
        text-shadow: 1px 1px 0px #C89494;
        font-size: 20px;
    }
}

.final {
    font-family: "Source Serif 4", serif;
    color: #C89494;
    font-style: italic;
    font-size: 22px;
    text-align: center;
    padding: 20px 0;
}