.contacto-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    height:60%;
    display: flex;
    flex-direction: row;
    gap:1rem;
    padding:20px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    img {
        height:400px;
        outline-offset: -4px;
        outline: 1px solid #fff;
    }

    .contacto-titulo {
        font-family: Thasadith;
        letter-spacing: 1px;
        color: #696969;
        font-style: italic;
        font-size: 40px;
        margin-bottom: 20px;
        border-bottom: solid 1px #C89494;
    }

    .contacto-parrafo {
        @include medidas;
        margin-bottom: 10px;
    }
}

.container2 {
    align-items: center;
    justify-content: center;
    text-align: center;
    height:60%;

    .contacto-redes {
        width: 100px;
        height: 100px;
        margin-bottom: 40px;
        margin-top:15px;
    }
}

.formulario {
    grid-area: form;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
    gap:1rem;
    margin-top: 10px;
}

.formulario__input {
    font-family: 'Inter';
    width: 120%;
    padding: 0.625rem;
    border: none;
    border: double 2px #f4b5b5;
    outline: none;
    transition: 0.5s;
}

.boton {
    width: 6rem;
    height: 2rem;
    border-radius: 10px;
    padding: 3px;
    align-self:center;
    margin-top: 0.5rem;
    background-color: #886753;
    color: #fff;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    outline-offset: -3px;
    outline: 1px dashed #fff;

    &:hover {
        background-color: #F4B5B5;
    }
}