.somos-container {
    align-items: center;
    justify-content: center;
    text-align: left;
    display: flex;
    flex-direction: row;
    padding:30px;
    gap:2rem;

    div {
        display: flex;
        flex-direction: column;
    }

    .somos-titulo {
        border-bottom: dashed 1px #886753;
        font-family: Thasadith;
        letter-spacing: 1px;
        color: #696969;
        font-style: italic;
        font-size: 40px;
        margin-bottom: 10px;
    }

    .somos-parrafo {
        @include medidas;
        margin-bottom: 10px;
        max-width: 800px;
    }
    .ari {
        margin-top: 25px;
        width: 200px;
        height: 200px;
        border-radius: 100%;
    }
}

.redes {
    width: 70px;
    height: 70px;
    margin-bottom: 40px;
}

.centrado {
    justify-content: center;
    align-items: center;
    text-align: center;
}